[submodule "plugins/anti-afk"]
	path = plugins/anti-afk
	url = git@github.com:TheEarthfallNetwork/anti-afk.git
[submodule "plugins/time-statistics"]
	path = plugins/time-statistics
	url = git@github.com:TheEarthfallNetwork/time-statistics.git
[submodule "plugins/civil-protection-authority-clothing"]
	path = plugins/civil-protection-authority-clothing
	url = git@github.com:TheEarthfallNetwork/civil-protection-authority-clothing.git
[submodule "plugins/citizen-clothing"]
	path = plugins/citizen-clothing
	url = git@github.com:TheEarthfallNetwork/citizen-clothing.git
[submodule "plugins/civil-protection-authority-animations"]
	path = plugins/civil-protection-authority-animations
	url = git@github.com:TheEarthfallNetwork/civil-protection-authority-animations.git
[submodule "plugins/advanced-identifications"]
	path = plugins/advanced-identifications
	url = git@github.com:TheEarthfallNetwork/advanced-identifications.git
[submodule "plugins/citizen-model-overrides"]
	path = plugins/citizen-model-overrides
	url = git@github.com:TheEarthfallNetwork/citizen-model-overrides.git
